<div class="author">
    <h1 class="author__heading">Hi, I am Thyonix!</h1>
    <p class="author__body">Welcome to my blog where I share my some thoughts.</p>
</div>

<img src="/images/cover.png" alt="cover" class="cover" width="981" height="528">

<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>

    <ul class="articles__ul">
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="articles-list__date">Date</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="articles-list__date">Date</span>
            </a>
        </li>
    </ul>

    <a href="#" class="pagination"> &lt; View Older Posts</a>
</section>