<div class="searchBar">
    <div class="container">
        <form action="/search" class="search__from" role="search" method="post">
            <input type="search" name="searchTerm" id="searchInput" aria-label="search" placeholder="Search the site...">
        </form>
        <div id="searchClose">Close</div>
    </div>
</div>